@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@media (prefers-color-scheme: light) {
    :root {
        --backround-accent-primary: #4c69ec;
        --backround-accent-secondary: #959fcb;
        --primary-color: #8aa5f9;
        --secondary-color: #5264b0;
        --text-color: #000;
        --text-filter: invert(0%) sepia(95%) saturate(0%) hue-rotate(145deg) brightness(101%) contrast(104%);
    }
    color-scheme: light;
}

@media (prefers-color-scheme: dark) {
    :root {
        --backround-accent-primary: #151824;
        --backround-accent-secondary: #141e47;
        --primary-color: #2e469d;
        --secondary-color: #0e1a4f;
        --text-color: #fff;
        --text-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(125deg) brightness(103%) contrast(103%);
    }
    color-scheme: dark;
}

html {
    background-image: linear-gradient(var(--backround-accent-primary), var(--backround-accent-secondary), var(--backround-accent-primary));
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Ubuntu', sans-serif;
    color: var(--text-color);
}

h1 {
    font-size: 2.5em;
    font-weight: 400;
}

h2 {
    font-size: 2em;
    font-weight: 400;
}

.horizontalCenter {
    text-align: center;
}

a {
    color: var(--text-color);
    transition: 0.3s;
}

a:hover {
    color: var(--primary-color);
}

.verticalCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.navbarMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    list-style: none;
    z-index: 20;
}

.navbarBrand {
    z-index: 25;
}

.navbarBrand > img {
    max-height: 40px;
    max-width: 40px;
    cursor: pointer;
}

.navbarLink {
    transition: 0.5s ease;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
}

.navbarLink:hover {
    color: var(--primary-color);
}

.navbarHamburger {
    display: none;
    cursor: pointer;
    z-index: 25;
}

.navbarHamburgerLine {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: var(--text-color);
}

@media (max-width: 500px) {
    .navbarHamburger {
        display: block;
    }

    .navbarHamburger.active .navbarHamburgerLine:nth-child(2) {
        opacity: 0;
    }

    .navbarHamburger.active .navbarHamburgerLine:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbarHamburger.active .navbarHamburgerLine:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbarMenu {
        position: absolute;
        left: 100%;
        top: -16px;
        gap: 0;
        flex-direction: column;
        background: var(--backround-accent-primary);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .navbarItem {
        margin: 16px 0;
    }

    .navbarMenu.active {
        left: -6%;
    }
}

.info {
    position: absolute;
    width: 100%;
    height: 50px;
    text-align: center;
}