.about {
    margin: 350px 20vw;
    border: none;
    padding: 15px;
    max-width: 95vw;
}

.about a {
    color: var(--text-color);
    transition: 0.3s;
}

.about a:hover {
    color: var(--primary-color);
}

.about hr{
    margin: 35px 15vw;
    color: var(--primary-color);
}

.about hr:last-child, .about hr:first-child{
    margin: 35px 10vw;
    color: var(--primary-color);
}

.scrollIndicator {
    position: absolute;
    bottom: 20px;
    right: 25px;
}

.scrollIndicator img {
    max-width: 50px;
    max-height: 50px;
    width: 4vw;
    height: 10vh;
    cursor: pointer;
    transition: 0.3s;
    filter: var(--text-filter);
}

.title {
    top: 150px;
}

.success {
    background-color: #4CAF50;
    color: white;
    top: 250px;
}

.error {
    background-color: #f44336;
    color: black;
    top: 250px;
}