<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for("static", filename="img/Echo.ico") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/_base.css") }}">
    {% block styles %}{% endblock %}
    <script type="text/javascript" src="{{ url_for("static", filename="js/navbarHamburger.js") }}" defer></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/_base.js") }}"></script>
    {% block scripts %}{% endblock %}
</head>
<body>
<header>
    <nav class="navbar">
        <a class="navbarBrand" href="{{ url_for("index") }}"><img src="{{ url_for("static", filename="img/Echo.png") }}"></a>
        <ul class="navbarMenu">
            {% if account is undefined  %}
                <li class="navbarItem"><a class="navbarLink" href="{{ url_for("login") }}">Login</a></li>
                <li class="navbarItem"><a class="navbarLink" href="{{ url_for("register") }}">Register</a></li>
            {% else %}
                <li class="navbarItem"><a class="navbarLink" href="{{ url_for("appPage") }}">App</a></li>
                <li class="navbarItem"><a class="navbarLink" href="{{ url_for("account") }}">Account</a></li>
            {% endif %}
        </ul>
        <div class="navbarHamburger">
            <div class="navbarHamburgerLine"></div>
            <div class="navbarHamburgerLine"></div>
            <div class="navbarHamburgerLine"></div>
        </div>
    </nav>
</header>
{% if success %}
    <div class="info success">
        <p>{{ success }}</p>
    </div>
{% endif %}

{% if error %}
    <div class="info error">
        <p>{{ error }}</p>
    </div>
{% endif %}

{% block content %}{% endblock %}
</body>
</html>