<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Echo App</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for("static", filename="img/Echo.ico") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/app.css") }}">
    <script type="text/javascript" src="{{ url_for("static", filename="js/navbarHamburger.js") }}" defer></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/_base.js") }}"></script>
</head>
<body>
<div class="test">
    <p>Bam! Text</p>
</div>
</body>