{% extends "_base.html" %}

{% block title %}Echo{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/index.css") }}">
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ url_for("static", filename="js/index.js") }}" defer></script>
{% endblock %}

{% block content %}
<div class="horizontalCenter info title">
    <h1>Welcome to Echo</h1>
    <p>Sign in or register to start chatting with your friends!</p>
</div>
{% if success %}
    <div class="info success">
        <p>{{ success }}</p>
    </div>
{% endif %}

{% if error %}
    <div class="info error">
        <p>{{ error }}</p>
    </div>
{% endif %}

<div class="about horizontalCenter">
    <hr>
    <h2>About</h2>
    <p>Echo is an open-source chat platform designed from the ground up for gamers, by gamers.</p>
    <hr>
    <h2>Feel like helping out?</h2>
    <p>We are always open to people opening pull requests on our <a href="https://github.com/InactiveGaming13/echo-frontend">official repository</a>.</p>
    <hr>
</div>

<div class="horizontalCenter scrollIndicator">
    <img src="{{ url_for("static", filename="img/downArrow.svg") }}" alt="Scroll Down" width="50" height="50">
</div>
{% endblock %}